[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scipy = "*"
numpy = "*"
pandas = "*"
sympy = "*"
seaborn = "*"
quantities = "*"
pyrxn = {editable = true,path = "."}
pydash = "*"

[dev-packages]
pytest = "*"
pytest-benchmark = "*"
pygal = "*"
pygaljs = "*"
yapf = "*"
pylint = "*"
